$fontFamily: 'Roboto';
$fontSize: 14;

$textColor: rgba(#000, 0.5);
$textColorLight: #fff;
$textColorDark: #000;
$titleColor: #342f45;
$accentColor: #278fb4;
$bgColor: #126893;

$maxWidthContainer: 1240;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;
