.rating {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  flex-basis: 40px;
  padding: 16px 11px;
  border-left: 1px solid rgba($borderColorDark, 0.2);

  svg {
    width: 16px;
    height: 16px;
  }

  &__shadow {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    z-index: 1;

    svg {
      fill: $accentColor;
    }
  }
}
