.reviews-slide {
  max-width: 480px;
  padding: 24px 32px 28px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 20px 12px 20px 0 rgba(25, 78, 96, 0.05);

  @media (max-width: $mobile) {
    padding: 20px;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;

    @media (max-width: $mobile) {
      margin-bottom: 15px;
    }
  }

  &__avatar {
    max-width: 110px;
    max-height: 110px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: $mobile) {
      gap: 5px;
    }
  }

  &__title {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    @media (min-width: $mobile) {
      line-height: 28px;
    }
  }

  &__content {
    padding-top: 26px;
    border-top: 1px solid rgba($borderColorDark, 0.2);

    @media (max-width: $mobile) {
      padding-top: 15px;
    }
  }

  &__text {
    position: relative;
    padding-left: 60px;

    @media (max-width: $mobile) {
      padding-left: 45px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 25px;
      background: url('@img/icons/left-quote.svg') center no-repeat;
    }
  }
}
