.video-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  background-color: rgba($accentColorSecondary, 0.62);
  border-radius: 4px;
  aspect-ratio: 397/234;

  @media (max-width: $tablet) {
    gap: 10px;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: percent(298, 436);
    z-index: -1;
  }

  &__text {
    max-width: 240px;
    color: #fff;
    font-size: 18px;
    line-height: percent(21, 18);
    font-weight: 700;
    text-align: center;

    @media (max-width: $tablet) {
      font-size: 16px;
    }
  }
}
