.promo {
  @extend %section;

  &__inner {
    min-height: 100vh;

    @media (min-width: $mobile) {
      display: grid;
      grid-template-columns: percent(586, 1440) 1fr;
      @include adaptiveValue('gap', 50, 20, $containerWidth, 992);
    }

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
  }

  &__col {
    padding: 40px 0 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: $mobile) {
      &:nth-child(1) {
        padding: 24px 0 30px;

        .promo__col-inner {
          margin-left: auto;
          padding: 0 10px 0 24px;
        }
      }

      &:nth-child(2) {
        .promo__col-inner {
          margin-right: auto;
          padding-right: 15px;
        }

        @media (max-width: $tablet) {
          padding: 24px 0 30px;
        }
      }
    }

    @media (max-width: $mobile) {
      padding: 20px 15px;

      &:nth-child(1) {
        display: flex;
        align-items: flex-end;
        flex: 1 1 auto;
        min-height: 220px;
      }
    }

    @media (max-width: $mobileSmall) {
      padding: 20px 15px 10px;
    }
  }

  &__col-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;

    @media (min-width: $mobile) {
      max-width: 715px;
      height: 100%;
    }

    @media (max-width: $mobileSmall) {
      gap: 30px;
    }
  }

  &__head {
    gap: 15px 20px;
  }

  &__why {
    max-width: 280px;

    @media (min-width: $tablet) {
      margin-left: 76px;
    }
  }

  &__why-text {
    margin-bottom: 30px;
  }

  &__logo {
    @media (min-width: $tablet) {
      margin-left: -10px;
    }
  }

  &__title {
    max-width: 580px;
    margin-bottom: 25px;
  }

  &__content-text {
    max-width: 421px;
  }

  &__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    &--dark {
      color: $textColorDark;
    }

    &--light {
      color: $textColorLight;
    }
  }

  &__action {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px 40px;
    width: 100%;
    padding: 33px 0;
    border-top: 1px solid rgba($borderColorDark, 0.2);

    @media (max-width: $tablet) {
      padding: 25px 0 15px;
    }

    @media (max-width: $mobileSmall) {
      justify-content: center;
    }
  }

  &__action-text {
    flex: 1 1 184px;
  }

  &__action-btns {
    gap: 15px 20px;
  }
}

.mentors {
  @extend %section;

  &__head {
    @include adaptiveValue('margin-bottom', 65, 30);
    text-align: center;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 512px));
    justify-content: center;
    row-gap: 32px;
    @include adaptiveValue('column-gap', 64, 30, $containerWidth, 768);

    @media (max-width: $mobile) {
      grid-template-columns: minmax(auto, 512px);
    }

    @media (max-width: $mobileSmall) {
      row-gap: 15px;
    }
  }
}

.tutorials {
  @extend %section;

  &__container {
    @include adaptiveValue('padding-left', 59, 40, $containerWidth, 992);
  }

  &__head {
    @include adaptiveValue('margin-bottom', 50, 20);
  }

  &__body {
    display: grid;
    grid-template-columns: 380px 1fr;
    align-items: flex-start;
    @include adaptiveValue('gap', 64, 20, $containerWidth, 768);

    @media (max-width: $tablet) {
      grid-template-columns: 2fr 3fr;
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &__pagination {
    position: absolute;
    top: 50%;
    @include adaptiveValue('left', -44, -26, $containerWidth, 992);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__pagination-decor {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background: url('@img/icons/pagination-decor.svg') center;
    z-index: -1;
  }

  &__pagination-dot {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

    &--active,
    &--hover {
      background-color: $accentColor;
      border-color: $accentColor;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba($accentColor, 0.4);
      z-index: -1;
      visibility: hidden;
      animation: pulse-dot 1.5s infinite;
    }

    &--hover {
      cursor: pointer;

      &::before {
        visibility: visible;
      }
    }
  }

  &__steps-wrapper {
    position: relative;
    height: max-content;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 24px;
    counter-reset: steps-counter;

    @media (max-width: $tablet) {
      gap: 15px;
    }
  }

  &__step {
    transition:
      left 0.3s ease-in-out,
      background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;

    &--hover,
    &--active {
      background-color: $accentColor;
      border-color: $accentColor;

      .tutorials-step__inner::before {
        color: rgba(#fff, 0.5);
      }

      .tutorials-step__title {
        color: #fff;

        &::after {
          opacity: 0.2;
        }
      }

      .tutorials-step__text {
        color: rgba(#fff, 0.7);
      }
    }

    &--hover {
      left: 16px;
      cursor: pointer;

      .tutorials-step__title,
      .tutorials-step__text {
        color: #fff;
      }

      &::after {
        visibility: visible;
      }
    }
  }

  &__content {
    transition: height 0.3s ease;
  }

  &__content-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    transition: all 0.5s ease-in-out;

    @media (max-width: $tablet) {
      gap: 15px;
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }
  }

  &__video-block {
    min-height: 234px;
    aspect-ratio: auto;

    @media (min-width: $mobile) {
      &:nth-child(1) {
        grid-column: span 2;
        min-height: 436px;

        @media (max-width: $tablet) {
          min-height: 320px;
        }

        .video-block__text {
          max-width: 290px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.reviews {
  @extend %section;

  &__head {
    @media (min-width: $tablet) {
      max-width: 400px;
    }

    @media (max-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &__body {
    @media (min-width: $tablet) {
      display: flex;
      align-items: flex-end;
      gap: 34px;
      margin-top: -50px;
    }
  }

  &__items {
    @media (min-width: $tablet) {
      padding-top: 80px;
    }

    @media (max-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      gap: 30px;
      margin-bottom: 30px;
    }
  }

  &__item {
    display: flex;
    border: 1px solid rgba($borderColorDark, 0.2);
    border-radius: 4px;

    @media (min-width: $tablet) {
      width: 287px;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &__item-content {
    padding: 24px;
    flex: 1 1 auto;
  }

  &__item-footer {
    margin-top: 7px;
    padding-top: 20px;
    border-top: 1px solid rgba($borderColorDark, 0.2);
  }

  &__item-total {
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__slider-actions {
    display: flex;
    padding: 0 30px 0 40px;

    @media (min-width: $mobileSmall) {
      flex-direction: column;
      justify-content: flex-end;
      gap: 60px;
    }

    @media (max-width: $tablet) {
      padding: 0 20px;
    }

    @media (max-width: $mobileSmall) {
      align-items: center;
      justify-content: space-between;
      padding: 15px;
    }
  }

  &__slider-btns {
    @media (max-width: $mobileSmall) {
      display: flex;
      gap: 20px;
    }
  }

  &__slider-wrapper {
    position: relative;
    padding-bottom: 40px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: percent(291, 394);
      background-color: $bgColor;
      border-radius: 4px;
      z-index: -1;

      @media (max-width: $mobileSmall) {
        height: 100%;
      }
    }

    @media (min-width: $mobileSmall) {
      display: flex;
    }

    @media (max-width: $tablet) {
      margin: 0 calc($containerPadding / -2) + px;
      padding-bottom: 30px;
    }

    @media (max-width: $mobileSmall) {
      padding-bottom: 20px;
    }
  }

  &__slider {
    position: relative;
    max-width: 100%;
    padding-bottom: 52px;

    @media (max-width: $tablet) {
      padding-bottom: 40px;
    }
  }

  &__slider-btn {
    @media (min-width: $mobileSmall) {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &__slider-slide {
    width: 100%;
  }

  &__slider-count,
  &__slider-current {
    font-weight: 700;
  }

  &__slider-count {
    color: rgba(#fff, 0.5);
    font-size: 12px;
    line-height: 28px;
    white-space: nowrap;
  }

  &__slider-current {
    font-size: 28px;
    color: #fff;
  }

  &__slider-pagination.swiper-pagination {
    width: percent(556, 896) !important;
    bottom: 0;
    height: 20px;
    padding: 4px 0;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin: 0 48px 0 0;
      transform: scale(1);
      background-color: $accentColor;
      border-radius: 50%;
      border: 1px solid #287792;
      transition: all 0.3s linear;
      cursor: pointer;

      @media (any-hover: hover) {
        &:hover {
          background-color: #fff;
        }
      }
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      position: relative;
      background-color: #fff;
      border-color: #fff;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(#fff, 0.2);
        z-index: -1;
        animation: pulse-dot 1.5s infinite;
      }
    }
  }
}

.learnings {
  @extend %section;

  &__container {
    display: grid;
    grid-template-columns: minmax(auto, 818px) minmax(auto, 397px);
    gap: 24px;

    @media (max-width: 1137px) {
      grid-template-columns: 1fr;
    }
  }
}
