.promo {
  &__inner {
    display: grid;
    grid-template-columns: percent(586, 1440) 1fr;
    gap: 50px;
    min-height: 100vh;
  }

  &__col {
    padding: 40px 0 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:nth-child(1) {
      padding: 24px 0 30px;

      .promo__col-inner {
        margin-left: auto;
        padding: 0 10px 0 24px;
      }
    }

    &:nth-child(2) {
      .promo__col-inner {
        margin-right: auto;
        padding-right: 15px;
      }
    }
  }

  &__col-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    max-width: 715px;
    height: 100%;
  }

  &__why {
    max-width: 280px;
    margin-left: 76px;
  }

  &__why-text {
    margin-bottom: 30px;
  }

  &__logo {
    margin-left: -10px;
  }

  &__title {
    max-width: 580px;
    margin-bottom: 25px;
  }

  &__content-text {
    max-width: 421px;
  }

  &__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    &--dark {
      color: $textColorDark;
    }

    &--light {
      color: $textColorLight;
    }
  }

  &__action {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    padding: 33px 0;
    border-top: 1px solid rgba(#979797, 0.2);
  }

  &__action-text {
    max-width: 184px;
  }
}
